<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= step_header %>

    <h1 class="govuk-heading-l"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object, html:{ class: 'ga-radioButtonGroup'  } do |f| %>
      <%= f.radio_button_fieldset :case_type,
        choices: Steps::Appeal::CaseTypeForm.choices,
        legend_options: {class: 'visuallyhidden'} %>

      <%= f.submit class: 'govuk-button' %>
    <% end %>
  </div>
</div>
