<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%=t '.heading' %></h1>
    <p class="lede">
      <%=t '.lead_text' %>
    </p>

    <p><%=t '.free_to_challenge_hmrc_heading_html' %></p>

    <p>
      <%=t '.free_to_challenge_hmrc_guidance_html' %>
    </p>

    <p>
      <a href="https://www.gov.uk/contact-hmrc" class="button"><%=t '.contact_hmrc_button' %></a>
    </p>
  </div>
</div>
