<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object, html:{ class: 'ga-radioButtonGroup'  } do |f| %>
      <%= f.radio_button_fieldset :case_type,
        choices: Steps::Appeal::CaseTypeShowMoreForm.choices %>

      <div class="panel toggleable" id="case_type_other_value" aria-hidden="true" data-show-elements="form input:radio:last" data-hide-elements="form input:radio:not(:last)">
        <%= f.text_field :case_type_other_value, class: 'form-control' %>
      </div>

      <%= f.submit class: 'button' %>
    <% end %>

  </div>
</div>
