<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :case_type,
        choices: Steps::Appeal::CaseTypeShowMoreForm.choices %>

      <div class="panel toggleable" id="case_type_other_value" aria-hidden="true">
        <%= f.text_field :case_type_other_value, class: 'form-control' %>
      </div>

      <%= f.submit class: 'button' %>
    <% end %>

    <%= javascript_tag do %>
      //
      // This is a hack because we want just the last of the radio buttons to show a text field,
      // and that is not possible to do with the current gov.uk elements form builder version.
      //
      moj.Modules.customRadioToggles.config.$targetElement = $('#case_type_other_value');
      moj.Modules.customRadioToggles.config.$showElements  = $('form input:radio:last');
      moj.Modules.customRadioToggles.config.$hideElements  = $('form input:radio:not(:last)');
    <% end %>
  </div>
</div>
