<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <%= stylesheet_link_tag wicked_pdf_asset_base64('local/case_details_pdf') -%>
</head>

<body id="case-details-pdf">
<%= render partial: 'steps/details/check_answers/pdf/header', locals: { tribunal_case: tribunal_case } %>

<h3><%= pdf_t '.appeal_details_heading' %></h3>

<hr/>
<table>
  <tbody>
  <tr>
    <td class="section"><%= pdf_t '.questions.appellant_details' %></td>
    <td class="content">
      <div><%= tribunal_case.taxpayer.name %></div>
      <div>
        <%= simple_format(tribunal_case.taxpayer.address, class: 'simple-format') %>
      </div>
      <div>
        <%= pdf_t '.questions.appellant_phone' %>
        <span><%= tribunal_case.taxpayer.phone %></span>
      </div>
      <div>
        <%= pdf_t '.questions.appellant_email' %>
        <span><%= tribunal_case.taxpayer.email %></span>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<hr/>
<table>
  <tbody>
  <tr>
    <td class="section"><%= pdf_t '.questions.representative_details' %></td>
    <td class="content">
      <% if tribunal_case.representative.present? %>
        <div><%= tribunal_case.representative.name %></div>
        <div>
          <%= simple_format(tribunal_case.representative.address, class: 'simple-format') %>
        </div>
        <div>
          <%= pdf_t '.questions.representative_phone' %>
          <span><%= tribunal_case.representative.phone %></span>
        </div>
        <div>
          <%= pdf_t '.questions.representative_email' %>
          <span><%= tribunal_case.representative.email %></span>
        </div>
      <% else %>
        <div>
          <%= pdf_t '.answers.no_representative' %>
        </div>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>

<hr/>
<table>
  <tbody>
  <tr>
    <td class="section"><%= pdf_t '.questions.legal_representative' %></td>
    <td class="content">
      Not yet implemented in data capture.
    </td>
  </tr>
  </tbody>
</table>

<hr/>
<table>
  <tbody>
  <tr>
    <td class="section"><%= pdf_t '.questions.desired_outcome' %></td>
  </tr>
  <tr>
    <td class="content with-padding">
      <%= simple_format(tribunal_case.outcome, class: 'simple-format') %>
    </td>
  </tr>
  </tbody>
</table>

<hr/>
<table>
  <tbody>
  <tr>
    <td class="section"><%= pdf_t '.questions.grounds_for_appeal' %></td>
    <td class="content">
      <span><%= tribunal_case.grounds_for_appeal %></span>
      <ul class="documents">
        <% tribunal_case.documents.list(:grounds_for_appeal).each do |document| %>
          <li><%= document.title %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  </tbody>
</table>

<hr/>
<table>
  <tbody>
  <tr>
    <td class="section"><%= pdf_t '.questions.documents_submitted' %></td>
    <td class="content">
      <% if tribunal_case.having_problems_uploading_documents? %>
        <%= simple_format(tribunal_case.having_problems_uploading_details, class: 'simple-format') %>
      <% else %>
        <ul class="documents">
          <% tribunal_case.documents.list(:supporting_documents).each do |document| %>
            <li><%= document.title %></li>
          <% end %>
        </ul>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>

<div class="newpage"></div>

<%= render partial: 'steps/details/check_answers/pdf/header', locals: { tribunal_case: tribunal_case } %>

<h3><%= pdf_t '.appeal_type_heading' %></h3>

<hr/>
<table>
  <tbody>
  <% tribunal_case.appeal_type_answers.rows.each do |row| %>
    <tr>
      <td class="section"><%= pdf_t row.question %></td>
      <td class="content"><%= row.i18n_value ? pdf_t(row.answer) : row.answer %></td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
  <% end %>

  <% if tribunal_case.documents.show_hardship_reason? %>
    <tr>
      <td><%= pdf_t '.questions.hardship_reason' %></td>
      <td>
        <span><%= tribunal_case.hardship_reason %></span>
        <ul class="documents">
          <% tribunal_case.documents.list(:hardship_reason).each do |document| %>
            <li><%= document.title %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3><%= pdf_t '.appeal_timeliness_heading' %></h3>

<hr/>
<table>
  <tbody>
  <% tribunal_case.appeal_lateness_answers.rows.each do |row| %>
    <tr>
      <td class="section"><%= pdf_t row.question %></td>
      <td class="content"><%= row.i18n_value ? pdf_t(row.answer) : row.answer %></td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
  <% end %>
  </tbody>
</table>

</body>
</html>
