<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h2 class="heading-xlarge"><%=t '.heading' %></h2>

    <%= error_summary(@form_object) %>

    <p class="lede"><%=t '.lead_text' %></p>

    <%= form_for(@form_object, url: surveys_feedback_path) do |f| %>
      <%= f.hidden_field :referrer %>
      <%= f.text_area :comment, size: '40x6', class: 'form-control form-control-3-4' %>
      <%= f.text_field :email %>

      <%= f.submit t('.submit'), class: 'button' %>
    <% end %>
  </div>
</div>
