<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <%= error_summary(@form_object) %>

    <p class="govuk-heading-l"><%=t '.notice' %></p>

    <p class="lede"><%=t '.lead_html' %></p>

    <%= form_for(@form_object, url: surveys_feedback_path) do |f| %>
      <%= f.text_field :name %>
      <%= f.text_field :email %>
      <%= f.radio_button_fieldset :assistance_level,
        choices: ['none', 'partial', 'total'] %>
      <%= f.text_area :comment, size: '40x6', class: 'form-control form-control-3-4' %>
      <%= f.submit t('.submit'), class: 'button' %>
    <% end %>
  </div>
</div>
