<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <span id="steps-shared-what-support-form-what-support-field-error"></span>
    <%= step_form @form_object do |f| %>
      <%= f.govuk_check_boxes_fieldset :what_support, legend: { text: t('.heading'), size: 'l' }, hint: { text: t('.lead_text') }  do %>
        <%= f.govuk_check_box :language_interpreter, :language_interpreter, multiple: false, link_errors: true  do %>
            <%= f.govuk_collection_select :language_interpreter_details, lang_options(:languages),
             :to_s, :to_s, html_options: {class: 'select2'} %>
        <% end %>
        <%= f.govuk_check_box :sign_language_interpreter, :sign_language_interpreter, multiple: false do %>
            <%= f.govuk_collection_select :sign_language_interpreter_details, lang_options(:sign_languages), :to_s, :to_s,
             hint: { text: t('.sign_language_interpreter_hint') }, html_options: {class: 'select2'} %>
        <% end %>
        <%= f.govuk_check_box :hearing_loop, :hearing_loop, multiple: false %>
        <%= f.govuk_check_box :disabled_access, :disabled_access, multiple: false %>
        <%= f.govuk_check_box :other_support, :other_support, multiple: false do %>
          <%= f.govuk_text_area :other_support_details %>
        <% end %>
      <% end %>

      <%= render partial: 'steps/shared/continue_or_save', locals: {f: f} %>
    <% end %>
  </div>
</div>
<span class="select2-no-results hide" aria-hidden="true"><%= t('.no_results') %></span>
