<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= step_header %>

    <h1 class="govuk-heading-l"><%=t '.heading' %></h1>

    <p class="lede">
      <%=t '.lead_text_html' %>
    </p>

    <%= render partial: 'steps/shared/finish_button', locals: {name: t('shared.start_again'), show_survey: false} %>

    <%= render partial: 'steps/shared/kickout_survey' %>
  </div>
</div>
