<tr>
  <td>
    <%= content_tag(:span, tribunal_case.expires_in, class: tribunal_case.expires_in_class) %>
  </td>
  <% if tribunal_case.user_case_reference? %>
    <td>
      <%= tribunal_case.user_case_reference %><br>
      <%= link_to t('.edit_reference'), edit_users_case_path(tribunal_case) %>
    </td>
  <% else %>
    <td class="not-entered">
      <%=t '.reference_not_entered' %><br>
      <%= link_to t('.create_reference'), edit_users_case_path(tribunal_case) %>
    </td>
  <% end %>
  <% if tribunal_case.taxpayer_name? %>
    <td><%= tribunal_case.taxpayer_name %></td>
  <% else %>
    <td class="not-entered"><%=t '.name_not_entered' %></td>
  <% end %>
  <td class="right">
    <span class="right actions actions-tight">
      <%= button_to t('.delete'), users_case_path(tribunal_case), method: :delete, data: {confirm: t('.delete_confirmation')}, class: 'button button-secondary' %>
      <%= link_to t('.resume'), resume_users_case_path(tribunal_case), class: 'button' %>
    </span>
  </td>
</tr>
