<% title t('.page_title') %>

<h1 class="heading-large"><%=t '.heading' %></h1>
<p class="lede"><%=t '.lead_text' %></p>

<%= form_for @tribunal_case, url: users_case_path do |f| %>
  <%= f.text_field :user_case_reference %>

  <%= f.submit class: 'button' %>
  <%= link_to t('helpers.submit.cancel'), users_cases_path, class: 'button button-secondary' %>
<% end %>
