<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <h1 class="govuk-heading-l"><%= translate_for_user_type '.heading' %></h1>

    <p class="govuk-body-l"><%= translate_for_user_type '.lead_text' %></p>

    <p class="govuk-body"><%= t '.anytime_text' %></p>

    <details class="govuk-details">
      <summary class="details__summary" aria-controls="details-content" aria-expanded="false">
        <span class="govuk-details__summary-text">
          <%= translate_for_user_type '.details_heading' %>
        </span>
      </summary>
      <div class="govuk-details__text" aria-hidden="true">
        <%= translate_for_user_type '.details_info_html' %>
        <%=t '.details_example_html' %>
        <%= button_to t('.download_button_text'), form_t239_link, method: :get, form: {target: '_blank'}, class: 'govuk-button', 'aria-label'=> t('.download_button_aria_label') %>
      </div>
    </details>

    <div id="document_upload_main_container" class="uploaded_doc_<%= uploaded_document?(@form_object.document_key) %>">
      <%= step_form @form_object, html: {class: 'ga-fileUpload'}, data: {ga_category: 'representative approval', ga_label: 'representative approval'} do |f| %>
        <%= document_upload_field(f, @form_object.document_key, label_text: t('.attach_document_html'),
                                  paragraph_text: t('.upload_explanation_html')) %>

        <%= render partial: 'steps/shared/continue_or_save', locals: {f: f} %>
      <% end %>

      <%= display_current_document(@form_object.document_key) %>
    </div>
  </div>
</div>
