<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%= translate_for_user_type '.heading' %></h1>

    <p class="lede"><%= translate_for_user_type '.lead_text' %></p>

    <p class="lede"><%= t '.anytime_text' %></p>    

    <details role="group">
      <summary role="button" aria-controls="details-content-0">
        <%= translate_for_user_type '.details_heading' %>
      </summary>
      <div class="panel" id="details-content-0">
        <%= translate_for_user_type '.details_info_html' %>
        <%=t '.details_example_html' %>
        <%= link_to t('.download_button_text'), asset_path('proforma.pdf'), class: 'button' %>
      </div>
    </details>

    <div id="document_upload_main_container" class="uploaded_doc_<%= uploaded_document?(:representative_approval) %>">
      <%= step_form @form_object do |f| %>
        <%= document_upload_field(f, :representative_approval, label_text: t('.attach_document_html')) %>

        <%= f.submit class: 'button document_upload_continue' %>
      <% end %>

      <%= display_current_document(:representative_approval) %>
    </div>
  </div>
</div>
