<div class="grid-row">
  <div class="column-two-thirds">
    <p class="step-info">
      <%= link_to 'Back', edit_steps_dispute_type_path, class: 'link-back' %>
      <%=t 'generic.step', step: 4, of: 4 %>
    </p>
    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :what_is_penalty_or_surcharge_amount,
        choices: WhatIsLatePenaltyOrSurchargeForm.choices %>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
