<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= render partial: 'steps/shared/document_upload/letter_upload_header' %>

    <%= step_form @form_object, html: { class: 'gtm-radioButtonGroup' } do |f| %>
      <%= f.govuk_collection_radio_buttons :letter_upload_type,
          Steps::Details::LetterUploadTypeForm.choices, :to_s, nil,
          legend: {class: 'govuk-visually-hidden'} %>

      <div class="panel toggleable util_mb-large" id="letter_upload_type_no_letter" aria-hidden="true" data-show-elements="form input:radio:last" data-hide-elements="form input:radio:not(:last)">
        <%= t('.no_letter_info_html') %>
      </div>

      <%= render partial: 'steps/shared/continue_or_save', locals: {f: f} %>
    <% end %>
  </div>
</div>

<% content_for(:javascripts) do %>
  <script type="text/javascript">
    $(document).ready(function () {
        moj.gtmDataLayerEvent.init('LetterType_Form', 'letterType');
      });
  </script>
<% end %>
