<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%= translate_with_appeal_or_application '.heading' %></h1>

    <p class="lede"><%= translate_with_appeal_or_application '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%= f.text_area :outcome, size: '40x6', class: 'form-control form-control-3-4' %>
      <%= render partial: 'steps/shared/continue_or_save', locals: {f: f} %>
    <% end %>
  </div>
</div>
