<header class="homepage-top">
  <div class="homepage-top-inner">
    <div class="welcome-block">
      <div class="inner-block floated-children">
        <div class="welcome-text">
          <div class="floated-inner-block">
            <h1>
              <%=t '.heading' %>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="grid-row">
  <div class="column-two-thirds">
    <ol class="list list-number task-list" data-task-list="">
      <% @presenter.rows.each do |row| %>
          <li>
            <%= link_to t(".task_titles.#{row.title}"), row.start_path, class: 'task-link' %>
            <p><%= t(".task_descriptions.#{row.title}") %></p>
            <p>(<%=t '.minutes_to_complete', count: row.minutes_to_complete %>)</p>
            <% if row.value %>
              <span class="task-status">
                <span><%= t(row.i18n_value, default: row.value) %></span>
              </span>
            <% elsif row.show_start_button? %>
              <%= link_to t('.start'), row.start_path, class: 'button button-start', role: 'button' %>
            <% end %>
          </li>
      <% end %>
    </ol>
  </div>
</div>
