<h2 class="heading-large"><%=t '.heading' %></h2>

<%= error_summary(resource) %>

<p><%= link_to t('.existing_account'), new_user_session_path %></p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password, autocomplete: "off" %>

  <%= f.submit t('helpers.submit.create_account'), class: 'button' %>
<% end %>

<h4 class="heading-small"><%=t '.password_advice_heading' %></h4>
<%=t '.password_advice_html' %>
