<h1 class="heading-large">
  <%=t '.heading' %>
</h1>

<p class="lede">
  <%=t '.lead_text' %>
</p>

<%=t '.description_html' %>

<% if @can_start %>
  <p>
    <%= link_to t('.continue'), edit_steps_details_taxpayer_type_path, class: 'button button-start', role: 'button' %>
  </p>
<% else %>
  <p>
    <strong><%=t '.previous_step_not_completed' %></strong><br>
    <%= link_to t('.back_to_start'), task_list_path, class: 'link-back' %>
  </p>
<% end %>
