<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header(:appeal, 2) %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :challenged_decision, choices: Steps::Appeal::ChallengedDecisionForm.choices %>
      <%= f.submit class: 'button' %>
    <% end %>

    <details>
      <summary><%=t '.help_panel.heading' %></summary>
      <div class="panel">
        <%=t '.help_panel.content_html' %>
      </div>
    </details>
  </div>
</div>
