<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <% i18n_heading_key = current_tribunal_case.case_type.direct_tax? ? '.heading_direct_tax' : '.heading_indirect_tax' %>
    <h1 class="heading-large"><%=t i18n_heading_key %></h1>

    <%= step_form @form_object, html:{ class: 'ga-radioButtonGroup'  } do |f| %>
      <%= f.radio_button_fieldset :challenged_decision, choices: Steps::Appeal::ChallengedDecisionForm.choices %>
      <%= f.submit class: 'button' %>
    <% end %>

    <details>
      <summary><%=t '.help_panel.heading' %></summary>
      <div class="panel">
        <%=t '.help_panel.content_html' %>
      </div>
    </details>
  </div>
</div>
