<% title t('.page_title') %>

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title"><%= t '.case_submitted' %></h1>
  <div class="govuk-panel__body"><%= t '.confirmation_email' %></div>
</div>

<%= render partial: 'shared/confirmation_case_reference', locals: {tribunal_case: @tribunal_case} %>

<h2 class="govuk-heading-m">
  <%= link_to t('.save_or_print_pdf'), steps_details_check_answers_path(format: :pdf), target: '_blank', class: 'govuk-link' %>
</h2>

<%= t '.what_happens_next_html', tax_tribunal_phone: Rails.application.config.tax_tribunal_phone  %>

<%= render partial: 'steps/shared/finish_button', locals: {name: t('shared.finish')} %>
