<% title t('.page_title') %>
<% track_transaction name: 'Appeal case submitted', category: 'Submissions' %>

<div class="govuk-box-highlight">
  <h1 class="bold-large"><%= t '.case_submitted' %></h1>
  <p><%= t '.confirmation_email' %></p>
</div>

<%= render partial: 'shared/confirmation_case_reference', locals: {tribunal_case: @tribunal_case} %>

<h2 class="heading-medium">
  <%= link_to t('.save_or_print_pdf'), steps_details_check_answers_path(format: :pdf), target: '_blank' %>
</h2>

<%= t '.what_happens_next_html', tax_tribunal_phone: Rails.application.config.tax_tribunal_phone  %>

<%= render partial: 'steps/shared/finish_button', locals: {name: t('shared.finish')} %>
