<div class="grid-row">
  <div class="column-two-thirds">
    <p class="step-info">
      <%= link_to 'Back', root_path, class: 'link-back' %>
      <%=t 'generic.step', step: 1, of: 4 %>
    </p>
    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :challenged_decision, inline: true %>
      <%= f.submit class: 'button' %>
    <% end %>

    <details>
      <summary><%=t '.help_panel.heading' %></summary>
      <div class="panel">
        <%=t '.help_panel.content_html' %>
      </div>
    </details>
  </div>
</div>
