<div class="grid-row">
  <div class="column-two-thirds">
    <%= endpoint_step_header %>

    <h1 class="heading-large"><%=t '.heading' %></h1>
    <p class="lede">
      <%=t '.lead_text' %>
    </p>

    <h2 class="heading-medium"><%=t '.free_to_challenge_hmrc_heading' %></h2>
    <p>
      <%=t '.free_to_challenge_hmrc_guidance_html' %>
    </p>
    <p>
      <a href="#" class="button"><%=t '.contact_hmrc_button' %></a>
    </p>
  </div>
</div>