<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <h2 class="heading-medium">
      <%= link_to t('.save_or_print_pdf'), steps_closure_check_answers_path(format: :pdf), target: '_blank' %>
    </h2>

    <%= render partial: 'steps/shared/finish_button', locals: {name: t('shared.finish')} %>
  </div>
</div>
