<div class="grid-row">
  <div class="column-two-thirds">
    <p class="step-info">
      <%= link_to t('generic.back_link'), edit_steps_cost_challenged_decision_path, class: 'link-back' %>
      <%=t 'generic.step', step: 2, of: 4 %>
    </p>
    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <p><%=t '.description_text' %></p>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :case_type,
        choices: Steps::Cost::CaseTypeForm.choices %>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
