<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <h1 class="govuk-heading-l"><%=t "shared.letter_upload.heading.#{i18n_letter_type}" %></h1>

    <p class="govuk-body"><%= translate_with_appeal_or_application('shared.file_upload.technical_info_html') %></p>

    <div id="document_upload_main_container" class="uploaded_doc_<%= uploaded_document?(@form_object.document_key) %>">
      <%= step_form @form_object, html: {class: 'ga-fileUpload'}, data: {ga_category: 'letter', ga_label: i18n_letter_type} do |f| %>

        <%= render partial: 'steps/shared/file_upload_requirements' %>

        <%= render partial: 'steps/shared/dropzone', locals: { document_list: @document_list } %>

        <% unless uploaded_document?(@form_object.document_key) %>
          <%= f.govuk_check_boxes_fieldset :having_problems_uploading,
              legend: { text: t(".trouble_uploading_document_question"), hidden: true, tag: 'h2' } do %>
            <%= f.govuk_check_box :having_problems_uploading, :having_problems_uploading, multiple: false do %>
              <%= t 'shared.file_upload.explanation_html', contact_url: contact_page_path %>
              <%=f.govuk_text_area :having_problems_uploading_explanation %>
            <% end %>
          <% end %>
        <% end %>

        <%= render partial: 'steps/shared/continue_or_save', locals: {f: f} %>
      <% end %>

      <%= display_current_document(@form_object.document_key) %>
    </div>

  </div>
</div>
