<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <h1 class="govuk-heading-l"><%=t '.heading' %></h1>

    <%= step_form @form_object, html:{ class: 'ga-radioButtonGroup'  } do |f| %>
      <%= f.govuk_collection_radio_buttons :hardship_review_requested,
        Steps::Hardship::HardshipReviewRequestedForm.choices, :value, nil,
        legend: {class: 'visuallyhidden'} %>

      <%= render partial: 'steps/shared/continue_or_save', locals: {f: f} %>
    <% end %>
  </div>
</div>
