<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header(:hardship, 7) %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :hardship_review_requested,
        choices: Steps::Hardship::HardshipReviewRequestedForm.choices %>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
