<div class="govuk-form-group address-lookup <% if @form_object.try(:errors).present? %>govuk-form-group--error<% end %>">
    <%= hidden_field_tag(:bearer, access_token) %>
    <%= hidden_field_tag(:address_lookup_url, address_lookup_url) %>
    <%= label_tag(:address_lookup, t('helpers.address_lookup.enter_a_uk_postcode'), class: 'govuk-label') %>
    <span class="govuk-error-message" id="address-lookup-postcode-error" style="<% if !@form_object.try(:errors).present? %>display: none;<% end %>">
        <span class="govuk-visually-hidden"><%= t('helpers.address_lookup.error') %>: </span>
        <%= t('helpers.address_lookup.please_enter_valid_postcode') %>
    </span>
    <%= text_field_tag(:address_lookup, nil, class: "govuk-input govuk-!-width-one-half #{@form_object.try(:errors).present? ? 'govuk-input--error': nil}") %>
    <%= button_tag(t('helpers.address_lookup.find_address'), type: 'button', class: 'govuk-button') %>
    <%= tag.a(t('helpers.address_lookup.enter_address_manually'), href: '#', class: "#{ show_details ? 'hide' : nil } govuk-link ") %>
</div>

<div id="address-lookup-addresses" class="govuk-form-group">
    <%= label_tag(:address_lookup_options, t('helpers.address_lookup.select_an_address'),class: 'govuk-label') %>
    <%= select_tag(:address_lookup_options, nil, class: 'govuk-select') %>
    <p class="govuk-error-message" style="display: none;"> <%= t('helpers.address_lookup.api_call_error') %></p>
</div>

<div id="address-lookup-manual-address" class="">
    <%= yield :form %>
</div>

<div id="address-lookup-error-summary" class="js-template hide">
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            <%= t('errors.error_summary.heading') %>
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>
                    <a href="#address_lookup"><%= t('helpers.address_lookup.please_enter_valid_postcode') %></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="js-template hide">
    <span id="addresses-found"><%= t('helpers.address_lookup.addresses_found') %></span>
    <span id="no-address-found"><%= t('helpers.address_lookup.no_address_found') %></span>
</div>
