<!-- This is used as the file preview template -->
<div class="dz-preview dz-file-preview">
  <div class="dz-filename">
    <p class="filename"><span data-dz-name></span> <span data-dz-errormessage></span></p>
    <p class="actions">
      <a class="dz-cancel" href="#" data-dz-remove>Cancel</a>
      <a class="dz-removeFailedFile" href="#" data-dz-remove>Remove</a>
    </p>
  </div>
  <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
</div>

<div class="dropzone dz-clickable js-only" id="dz_doc_upload" tabindex="0" data-accepted-files="<%= DocumentUpload::ALLOWED_CONTENT_TYPES.join(',') %>" data-max-filesize="<%= DocumentUpload::MAX_FILE_SIZE %>">
  <div class="dz-default dz-message grid-row">
    <div class="column-one-third arrow-icon">
      <p></p>
    </div>
    <div class="column-one-half">
      <p class="dz-message-copy">
        <%= t 'shared.file_upload.dropzone_message_html' %>
      </p>
    </div>
  </div>
</div>

<div class="uploaded-files-wrapper">
  <h2 class="heading-medium"><%= t 'shared.file_upload.uploaded_files_header' %></h2>

  <ol class="list uploaded-files">
    <% if document_list&.any? %>
        <% document_list.each do |doc| %>
            <li class="file no-js-only">
              <%= doc.name %>
              <%= button_to 'Remove', document_path(doc, document_key: :supporting_documents), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button-secondary' %>
            </li>

            <li class="file js-only">
              <%= doc.name %>
              <%= link_to 'Remove', '#', 'data-delete-name': doc.encoded_name, class: 'button button-secondary' %>
            </li>
        <% end %>
    <% else %>
        <li class="no-files"><%= t 'shared.file_upload.no_uploaded_files' %></li>
    <% end %>
  </ol>
</div>
