<% title t('.page_title') %>

<header class="homepage-top">
  <div class="homepage-top-inner">
    <div class="welcome-block">
      <div class="inner-block floated-children">
        <div class="welcome-text">
          <div class="floated-inner-block">
            <h1><%= t '.impartial_decision' %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%=t '.heading' %>
    </h2>

    <p class="lede">
      <%=t '.lead_text_html' %>
    </p>

    <%= t('.description_html',
          approval_form_href: asset_path('proforma.pdf'),
          approval_form_format_and_size: 'PDF, 47KB'
        )
    %>

    <p>
      <%= link_to t('.continue'), edit_steps_appeal_case_type_path, class: 'button button-start', role: 'button' %>
    </p>
  </div>
</div>
