<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%=t '.heading' %>
    </h2>
  </div>
</div>

<header class="homepage-top">
  <div class="homepage-top-inner">
    <div class="welcome-block">
      <div class="inner-block floated-children">
        <div class="welcome-text">
          <div class="floated-inner-block">
            <h1><%= t '.impartial_decision' %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l">
      <%=t '.lead_text_html' %>
    </p>

    <%= t('.description_html',
          approval_form_href: form_t239_link,
          approval_form_format_and_size: 'PDF, 47KB'
        )
    %>

    <p class="govuk-body">
      <%= link_to edit_steps_appeal_case_type_path, class: 'govuk-button govuk-button--start', role: 'button', draggable: false do %>
        <%= t('.continue') %>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      <% end %>
    </p>
  </div>
</div>
