<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <div id="document_upload_main_container" class="uploaded_doc_<%= uploaded_document?(@form_object.document_key) %>">
      <%= step_form @form_object, html: {class: 'ga-fileUpload'}, data: {ga_category: 'closure', ga_label: 'additional info'} do |f| %>
        <%= f.text_area :closure_additional_info, size: '40x4', class: 'form-control form-control-3-4 form-control-large' %>

        <%= document_upload_field(f, @form_object.document_key, label_text: t('.attach_document_html')) %>

        <%= render partial: 'steps/shared/continue_or_save', locals: {f: f} %>
      <% end %>

      <%= display_current_document(@form_object.document_key) %>
    </div>
  </div>
</div>
