<div class="grid-row">
  <div class="column-two-thirds">
    <p class="step-info">
      <%= link_to t('generic.back_link'), steps_lateness_start_path, class: 'link-back' %>
      <%=t 'generic.step', step: 1, of: 2 %>
    </p>
    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :in_time,
        choices: Steps::Lateness::InTimeForm.choices %>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
