<h1 class="heading-large">
  <%=t '.heading' %>
</h1>

<p class="lede">
  <%=t '.lead_text' %>
</p>

<%=t '.description_html' %>

<p>
  <%= link_to t('.start_now'), steps_cost_start_path, class: 'button button-start', role: 'button' %>
</p>

<%=t '.further_html' %>
