<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header(:details, 1) %>

    <h1 class="heading-large"><%= translate_for_user_type '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :taxpayer_type,
        choices: Steps::Details::TaxpayerTypeForm.choices %>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
