<% if tribunal_case&.case_reference.present? %>

  <h2 class="govuk-heading-m">
    <span><%= t '.case_reference' %></span>
    <span><%= tribunal_case.case_reference %></span>
  </h2>

  <p class="govuk-body"><%= t '.note_number' %></p>

<% else %>

  <h2 class="govuk-heading-m">
    <span><%= t '.case_submitted_successfully' %></span>
  </h2>

  <p class="govuk-body"><%= t '.case_reference_pending' %></p>

<% end %>
