<%= step_header %>

<h1 class="heading-large"><%= t '.heading' %></h1>

<table class="check-your-answers">
  <tbody>

  <tr>
    <th colspan="3"><h2 class="heading-medium"><%= t '.appeal_type_heading' %></h2></th>
  </tr>
  <% @tribunal_case.appeal_type_answers.rows.each do |row| %>
      <tr>
        <td><%= translate_with_appeal_or_application row.question %></td>
        <td><%= row.i18n_value ? t(row.answer) : row.answer %></td>
        <td class="change-answer">
          <%= row.change_link t('.change') %>
        </td>
      </tr>
  <% end %>

  <tr>
    <th colspan="3"><h2 class="heading-medium"><%= t '.appeal_timeliness_heading' %></h2></th>
  </tr>
  <% @tribunal_case.appeal_lateness_answers.rows.each do |row| %>
      <tr>
        <td><%= translate_with_appeal_or_application row.question %></td>
        <td><%= row.i18n_value ? t(row.answer) : row.answer %></td>
        <td class="change-answer">
          <%= row.change_link t('.change') %>
        </td>
      </tr>
  <% end %>

  <tr>
    <th colspan="3"><h2 class="heading-medium"><%= t '.appeal_details_heading' %></h2></th>
  </tr>
  <tr>
    <th><%= t '.questions.appellant_details' %></th>
    <td>
      <div><%= @tribunal_case.taxpayer.name %></div>
      <div class="js_breaklines">
        <%= simple_format(@tribunal_case.taxpayer.address) %>
      </div>
      <div>
        <%= t '.questions.appellant_phone' %> <span><%= @tribunal_case.taxpayer.phone %></span>
      </div>
      <div>
        <%= t '.questions.appellant_email' %> <span><%= @tribunal_case.taxpayer.email %></span>
      </div>
    </td>
    <td class="change-answer">
      <%= link_to t('.change'), edit_steps_details_taxpayer_type_path %>
    </td>
  </tr>
    <tr>
      <th><%= t '.questions.representative_details' %></th>
      <td>
        <% if @tribunal_case.representative.present? %>
          <div><%= @tribunal_case.representative.name %></div>
          <div class="js_breaklines">
            <%= simple_format(@tribunal_case.representative.address) %>
          </div>
          <div>
            <%= t '.questions.representative_phone' %> <span><%= @tribunal_case.representative.phone %></span>
          </div>
          <div>
            <%= t '.questions.representative_email' %> <span><%= @tribunal_case.representative.email %></span>
          </div>
        <% else %>
          <%= t '.answers.no_representative' %>
        <% end %>
      </td>
      <td class="change-answer">
        <%= link_to t('.change'), edit_steps_details_has_representative_path %>
      </td>
    </tr>

  <tr>
    <th><%= translate_with_appeal_or_application '.questions.grounds_for_appeal' %></th>
    <td>
      <span><%= @tribunal_case.documents.grounds_for_appeal_text %></span>
      <ul class="list-bullet uploaded-docs">
        <% @tribunal_case.documents.list(:grounds_for_appeal).each do |document| %>
          <li><%= document.title %></li>
        <% end %>
      </ul>
    </td>
    <td class="change-answer">
      <%= link_to t('.change'), edit_steps_details_grounds_for_appeal_path %>
    </td>
  </tr>

  <tr>
    <th><%= t '.questions.desired_outcome' %></th>
    <td>
      <span>
        <%= simple_format(@tribunal_case.outcome) %>
      </span>
    </td>
    <td class="change-answer">
      <%= link_to t('.change'), edit_steps_details_outcome_path %>
    </td>
  </tr>

  <tr>
    <th><%= t '.questions.documents_submitted' %></th>
    <td>
      <ul class="list-bullet uploaded-docs">
        <% @tribunal_case.documents.list(:supporting_documents).each do |document| %>
          <li><%= document.title %></li>
        <% end %>
      </ul>
    </td>
    <td class="change-answer">
      <%= link_to t('.change'), edit_steps_details_documents_checklist_path %>
    </td>
  </tr>

  </tbody>
</table>

<h2 class="heading-medium"><%= t '.declaration_of_truth' %></h2>

<p><%= translate_with_appeal_or_application '.declaration_of_truth_message' %></p>

<p class="notice util_mt-large">
  <i class="icon icon-important">
    <span class="visuallyhidden"><%= t '.warning' %></span>
  </i>
  <strong class="bold-small">
    <%= t '.warning_message' %>
  </strong>
</p>

<p>
  <%= button_to t('.submit_and_continue'), appeal_cases_path, class: 'button' %>
</p>
