<%= step_header %>

<h1 class="heading-large"><%= t '.heading' %></h1>

<table class="check-your-answers">
  <tbody>

  <tr>
    <th colspan="3"><h2 class="heading-medium"><%= t '.appeal_type_heading' %></h2></th>
  </tr>
  <% @tribunal_case.appeal_type_answers.rows.each do |row| %>
      <tr>
        <td><%= translate_with_appeal_or_application row.question %></td>
        <td><%= row.i18n_value ? t(row.answer) : row.answer %></td>
        <td class="change-answer">
          <%= row.change_link t('.change') %>
        </td>
      </tr>
  <% end %>

  <% @tribunal_case.hardship_answers.rows.each do |row| %>
    <tr>
      <td class="section"><%= pdf_t row.question %></td>
      <td class="content"><%= pdf_t row.answer %></td>
      <td class="change-answer"></td>
    </tr>
  <% end %>

  <% if @tribunal_case.hardship_answers.show_reason? %>
    <tr>
      <td colspan="2" class="with-padding">
        <p><%= t '.questions.hardship_reason' %></p>
        <%= simple_format(@tribunal_case.hardship_reason, class: 'simple-format') %>
        <p><%= t('.answers.document_attached_html', filename: @tribunal_case.documents.hardship_reason_file_name) %></p>
      </td>
    </tr>
  <% end %>

  <% if (in_time_row = @tribunal_case.appeal_lateness_answers.in_time_question) %>
    <tr>
      <th colspan="3"><h2 class="heading-medium"><%= t '.appeal_timeliness_heading' %></h2></th>
    </tr>
    <tr>
      <td><%= translate_with_appeal_or_application in_time_row.question %></td>
      <td><%= t(in_time_row.answer) %></td>
      <td class="change-answer">
        <%= in_time_row.change_link t('.change') %>
      </td>
    </tr>
    <% if (lateness_reason = @tribunal_case.appeal_lateness_answers.lateness_reason_question) %>
      <tr>
        <td colspan="2" class="with-padding">
          <p><%= translate_with_appeal_or_application lateness_reason.question %></p>
          <%= simple_format(@tribunal_case.lateness_reason, class: 'simple-format') %>
        </td>
      </tr>
    <% end %>
  <% end %>

  <%= render partial: 'steps/shared/check_answers/taxpayer_details', locals: { tribunal_case: @tribunal_case } %>

  <%= render partial: 'steps/shared/check_answers/representative_details', locals: { tribunal_case: @tribunal_case } %>

  <tr>
    <td colspan="2" class="with-padding">
      <p><%= translate_with_appeal_or_application '.questions.grounds_for_appeal' %></p>
      <%= simple_format(@tribunal_case.grounds_for_appeal, class: 'simple-format') %>
      <p><%= t('.answers.document_attached_html', filename: @tribunal_case.documents.grounds_for_appeal_file_name) %></p>
    </td>
    <td class="change-answer">
      <%= link_to t('.change'), edit_steps_details_grounds_for_appeal_path %>
    </td>
  </tr>

  <tr>
    <td colspan="2" class="with-padding">
      <p><%= t '.questions.desired_outcome' %></p>
      <%= simple_format(@tribunal_case.outcome, class: 'simple-format') %>
    </td>
    <td class="change-answer">
      <%= link_to t('.change'), edit_steps_details_outcome_path %>
    </td>
  </tr>

  <%= render partial: 'steps/shared/check_answers/documents_submitted', locals: {
      tribunal_case: @tribunal_case,
      change_link: edit_steps_details_documents_checklist_path
  } %>

  </tbody>
</table>

<%= render partial: 'steps/shared/check_answers/footer', locals: { submit_link: appeal_cases_path } %>
