<header class="homepage-top">
  <div class="homepage-top-inner">
    <div class="welcome-block">
        <div class="inner-block floated-children">
          <div class="welcome-text">
            <div class="floated-inner-block">
              <h1>
                <%=t '.heading' %>
              </h1>
            </div>
          </div>
        </div>
      </div>
  </div>
</header>

<p class="lede">
  <%=t '.lead_text' %>
</p>

<%=t '.description_html' %>

<ol class="list list-number task-list" data-task-list="">
  <% @presenter.rows.each do |row| %>
    <li>
      <%= link_to t(".task_titles.#{row.title}"), row.start_path, class: 'task-link' %> (<%=t '.minutes_to_complete', count: row.minutes_to_complete %>)
      <% if row.value %>
        <span class="task-status">
          <span>
            <%= row.value %>
          </span>
        </span>
      <% elsif row.show_start_button? %>
        <%= link_to t('.start'), row.start_path, class: 'button button-start', role: 'button' %>
      <% end %>
    </li>
  <% end %>
</ol>

<%=t '.further_html' %>
