<% title t('privacy.header') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'privacy.header' %></h1>
    <span><%= t('privacy.last_update').html_safe %></span>
    <p><%= t 'privacy.info_1' %></cite></p>
    <p><%= t 'privacy.info_2' %></p>

    <ul>
      <li><a href="#who_managing" title=""><%= t 'privacy.section_list.who_managing' %></a></li>
      <li><a href="#why_collect" title=""><%= t 'privacy.section_list.why_collect' %></a></li>
      <li><a href="#personal_data" title=""><%= t 'privacy.section_list.personal_data' %></a></li>
      <li><a href="#how_we_use" title=""><%= t 'privacy.section_list.how_we_use' %></a></li>
      <li><a href="#how_we_store" title=""><%= t 'privacy.section_list.how_we_store' %></a></li>
      <li><a href="#how_we_share" title=""><%= t 'privacy.section_list.how_we_share' %></a></li>
      <li><a href="#how_to_access" title=""><%= t 'privacy.section_list.how_to_access' %></a></li>
      <li><a href="#cookies" title=""><%= t 'privacy.section_list.cookies' %></a></li>
    </ul>

    <h1 id="who_managing" class="heading-large"><%= t 'privacy.who_managing.header' %></h1>
    <p><%= t 'privacy.who_managing.line_1' %></p>
    <p><%= t 'privacy.who_managing.line_2' %></p>
    <p><%= t 'privacy.who_managing.line_3' %></p>
    <p><%= t 'privacy.who_managing.line_4' %></p>

    <h1 id="why_collect" class="heading-large"><%= t 'privacy.why_collect.header' %></h1>
    <p><%= t 'privacy.why_collect.line_1' %></p>

    <ul class="standard-list">
      <li><%= t 'privacy.why_collect.list_1' %></li>
      <li><%= t 'privacy.why_collect.list_2' %></li>
      <li><%= t 'privacy.why_collect.list_3' %></li>
    </ul><br />

    <p><%= t 'privacy.why_collect.line_2' %></p>
    <p><%= t 'privacy.why_collect.line_3' %></p>

    <h1 id="personal_data" class="heading-large"><%= t 'privacy.personal_data.header' %></h1>
    <p><%= t 'privacy.personal_data.line_1' %></p>

    <ul class="standard-list">
      <li><%= t 'privacy.personal_data.list_1' %></li>
      <li><%= t 'privacy.personal_data.list_2' %></li>
      <li><%= t 'privacy.personal_data.list_3' %></li>
    </ul><br />
    <p><%= t 'privacy.personal_data.line_2' %></p>
    <p><%= t 'privacy.personal_data.line_3' %></p>

    <ul class="standard-list">
      <li><%= t 'privacy.personal_data.list_4' %></li>
      <li><%= t 'privacy.personal_data.list_5' %></li>
    </ul><br />

    <p><%= t 'privacy.personal_data.line_4' %></p>
    <ul class="standard-list">
      <li><%= t 'privacy.personal_data.list_6' %></li>
      <li><%= t 'privacy.personal_data.list_7' %></li>
    </ul><br />

    <strong><%= t 'privacy.personal_data.befor_you_submit.header' %></strong>
    <p><%= t 'privacy.personal_data.befor_you_submit.line_1' %></p>
    <p><%= t 'privacy.personal_data.befor_you_submit.line_2' %></p>

    <strong><%= t 'privacy.personal_data.using_save_return.header' %></strong>
    <p><%= t 'privacy.personal_data.using_save_return.line_1' %></p>

    <strong><%= t 'privacy.personal_data.after_you_submit.header' %></strong>
    <p><%= t 'privacy.personal_data.after_you_submit.line_1' %></p>
    <p><%= t 'privacy.personal_data.after_you_submit.line_2' %></p>
    <p><%= t 'privacy.personal_data.after_you_submit.line_3' %></p>

    <h1 id="how_we_use" class="heading-large"><%= t 'privacy.how_we_use.header' %></h1>
    <p><%= t 'privacy.how_we_use.line_1' %></p>
    <p><%= t 'privacy.how_we_use.line_2' %></p>
    <p><%= t 'privacy.how_we_use.line_3' %></p>

    <ul class="standard-list">
      <li><%= t 'privacy.how_we_use.list_1' %></li>
      <li><%= t 'privacy.how_we_use.list_2' %></li>
      <li><%= t 'privacy.how_we_use.list_3' %></li>
    </ul><br />

    <h1 id="how_we_store" class="heading-large"><%= t 'privacy.how_we_store.header' %></h1>
    <p><%= t 'privacy.how_we_store.line_1' %></p>
    <p><%= t 'privacy.how_we_store.line_2' %></p>
    <p><%= t 'privacy.how_we_store.line_3' %></p>
    <p><%= t 'privacy.how_we_store.line_4' %></p>
    <p><%= t 'privacy.how_we_store.line_5' %></p>
    <p><%= t 'privacy.how_we_store.line_6' %></p>
    <strong><%= t 'privacy.how_we_store.storing_save_return.header' %></strong>
    <p><%= t 'privacy.how_we_store.storing_save_return.line_1' %></p>
    <p><%= t 'privacy.how_we_store.storing_save_return.line_2' %></p>
    <p><%= t 'privacy.how_we_store.storing_save_return.line_3' %></p>
    <p><%= t 'privacy.how_we_store.storing_save_return.line_4' %></p>


    <h1 id="how_we_share" class="heading-large"><%= t 'privacy.how_we_share.header' %></h1>
    <p><%= t 'privacy.how_we_share.line_1' %></p>
    <p><%= t 'privacy.how_we_share.line_2' %></p>
    <p><%= t 'privacy.how_we_share.line_3' %></p>

    <h1 id="how_to_access" class="heading-large"><%= t 'privacy.how_to_access.header' %></h1>
    <strong><%= t 'privacy.how_to_access.your_rights.header' %></strong>
    <p><%= t 'privacy.how_to_access.your_rights.line_1' %></p>
    <ul class="standard-list">
      <li><%= t 'privacy.how_to_access.your_rights.list_1' %></li>
      <li><%= t 'privacy.how_to_access.your_rights.list_2' %></li>
      <li><%= t 'privacy.how_to_access.your_rights.list_3' %></li>
      <li><%= t 'privacy.how_to_access.your_rights.list_4' %></li>
    </ul><br />

    <strong><%= t 'privacy.how_to_access.getting_more.header' %></strong>
    <p><%= t 'privacy.how_to_access.getting_more.line_1' %></p>
    <ul class="standard-list">
      <li><%= t 'privacy.how_to_access.getting_more.list_1' %></li>
      <li><%= t 'privacy.how_to_access.getting_more.list_2' %></li>
      <li><%= t 'privacy.how_to_access.getting_more.list_3' %></li>
      <li><%= t 'privacy.how_to_access.getting_more.list_4' %></li>
      <li><%= t 'privacy.how_to_access.getting_more.list_5' %></li>
    </ul><br />
    <p><%= t 'privacy.how_to_access.getting_more.line_2' %></p>
    <ul>
      <li><%= t 'privacy.how_to_access.getting_more.address.street' %></li>
      <li><%= t 'privacy.how_to_access.getting_more.address.city' %></li>
      <li><%= t 'privacy.how_to_access.getting_more.address.postcode' %></li>
      <li><%= t 'privacy.how_to_access.getting_more.address.email' %></li>
    </ul><br />

    <strong><%= t 'privacy.how_to_access.access.header' %></strong>
    <p><%= t 'privacy.how_to_access.access.line_1' %></p>
    <ul>
      <li><%= t 'privacy.how_to_access.access.address.header' %></li>
      <li><%= t 'privacy.how_to_access.access.address.post_point' %></li>
      <li><%= t 'privacy.how_to_access.access.address.street' %></li>
      <li><%= t 'privacy.how_to_access.access.address.city' %></li>
      <li><%= t 'privacy.how_to_access.access.address.postcode' %></li>
    </ul><br/>

    <strong><%= t 'privacy.how_to_access.complaints.header' %></strong>
    <p><%= t 'privacy.how_to_access.complaints.line_1' %></p>
    <p><%= t 'privacy.how_to_access.complaints.line_2' %></p>
    <ul>
      <li><%= t 'privacy.how_to_access.complaints.address.header' %></li>
      <li><%= t 'privacy.how_to_access.complaints.address.post_point' %></li>
      <li><%= t 'privacy.how_to_access.complaints.address.street' %></li>
      <li><%= t 'privacy.how_to_access.complaints.address.city' %></li>
      <li><%= t 'privacy.how_to_access.complaints.address.county' %></li>
      <li><%= t 'privacy.how_to_access.complaints.address.postcode' %></li>
    </ul> <br />
    <ul>
      <li><%= t 'privacy.how_to_access.complaints.address.phone' %></li>
      <li><%= t 'privacy.how_to_access.complaints.address.url' %></li>
    </ul><br/>

    <h1 id="cookies" class="heading-large"><%= t 'privacy.cookies.header' %></h1>
    <p><%= t 'privacy.cookies.line_1' %></p>
    <p><%= t 'privacy.cookies.line_2' %></p>
    <p><%= t 'privacy.cookies.line_3' %></p>
    <p><%= t 'privacy.cookies.line_4' %></p>
  </div>
</div>

