<div class="grid-row">
  <div class="column-two-thirds">

    <div class="breadcrumbs"></div>

    <h1 class="heading-large"><%= t '.heading' %></h1>

    <ul class="list task-list">
      <% @link_sections.each do |(name, minutes, path)| %>
        <li>
          <%= link_to t('.link_titles.%s' % name), path, class: 'task-link ga-pageLink', data: {ga_category: 'Type_app', ga_label: name} %>
          <p><%= t('.link_descriptions.%s' % name) %></p>
          <p>(<%= t('.link_time_estimate', minutes: minutes) %>)</p>
        </li>
      <% end %>

      <%# TODO: Move this into the @link_sections and add i18n %>
      <% if save_and_return_enabled? %>
        <li>
          <%= link_to 'Return to a saved appeal or application', users_login_path, class: 'task-link ga-pageLink' %>
          <p>Continue completing an appeal or application you haven't submitted.</p>
        </li>
      <% end %>
    </ul>

  </div>
</div>
