<% title t('terms.header') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t 'terms.header' %></h1>
    <span><%= t('terms.last_update').html_safe %></span>
    <p class="govuk-body"><cite><%= t('terms.info', privacy_link: link_to(t('terms.privacy'), privacy_page_path(locale: I18n.locale), class: "govuk-link")).html_safe %></cite></p>

    <ul class="govuk-list">
      <li><a href="#general" class="govuk-link" title=""><%= t 'terms.section_list.general' %></a></li>
      <li><a href="#applicable" class="govuk-link" title=""><%= t 'terms.section_list.applicable_law' %></a></li>
      <li><a href="#responsible" class="govuk-link" title=""><%= t 'terms.section_list.responsible' %></a></li>
      <li><a href="#gdpr" class="govuk-link" title=""><%= t 'terms.section_list.gdpr' %></a></li>
      <li><a href="#disclaimer" class="govuk-link" title=""><%= t 'terms.section_list.disclaimer' %></a></li>
    </ul>

    <h1 id="general" class="govuk-heading-l"><%= t 'terms.general.header' %></h1>
    <p class="govuk-body"><%= t 'terms.general.line_1' %></p>
    <p class="govuk-body"><%= t 'terms.general.line_2' %></p>
    <p class="govuk-body"><%= t 'terms.general.line_3' %></p>


    <h1 id="applicable" class="govuk-heading-l"><%= t 'terms.applicable_law.header' %></h1>
    <p class="govuk-body"><%= t 'terms.applicable_law.line_1' %></p>

    <ul class="standard-list">
      <li><%= t 'terms.applicable_law.list_1' %></li>
      <li><%= t 'terms.applicable_law.list_2' %></li>
      <li><%= t 'terms.applicable_law.list_3' %></li>
      <li><%= t 'terms.applicable_law.list_4' %></li>
    </ul>

    <h1 class="govuk-heading-l" id="responsible"><%= t 'terms.responsible.header' %></h1>

    <p class="govuk-body"><%= t 'terms.responsible.line_1' %></p>
    <p class="govuk-body"><%= t 'terms.responsible.line_2' %></p>
    <p class="govuk-body"><%= t 'terms.responsible.line_3' %></p>
    <p class="govuk-body"><%= t 'terms.responsible.line_4' %></p>


    <h1 class="govuk-heading-l" id="gdpr"><%= t 'terms.gdpr.header' %></h1>
    <p class="govuk-body"><%= t 'terms.gdpr.line_1' %></p>
    <p class="govuk-body"><%= t('terms.gdpr.line_2', privacy_link: link_to(t('terms.privacy'), privacy_page_path(locale: I18n.locale), class: "govuk-link")).html_safe %></p>
    <p class="govuk-body"><%= t 'terms.gdpr.line_3' %></p>
    <p class="govuk-body"><%= t 'terms.gdpr.line_4' %></p>

    <h1 class="govuk-heading-l" id="disclaimer"><%= t 'terms.disclaimer.header' %></h1>
    <p class="govuk-body"><%= t 'terms.disclaimer.line_1' %></p>
    <p class="govuk-body"><%= t 'terms.disclaimer.line_2' %></p>


  </div>
</div>
