<div class="grid-row">
  <div class="column-two-thirds">
    <p class="step-info">
      <%= link_to t('generic.back_link'), @back_link_path, class: 'link-back' %>
      <%=t 'steps.details.step_header', step: 2 %>
    </p>
    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%= f.text_field :taxpayer_company_name %>
      <%= f.text_field :taxpayer_company_registration_number %>
      <%= f.text_field :taxpayer_company_fao %>
      <%= f.text_area :taxpayer_contact_address, size: '40x4', class: 'form-control-3-4' %>
      <%= f.text_field :taxpayer_contact_postcode %>
      <%= f.text_field :taxpayer_contact_email %>
      <%= f.text_field :taxpayer_contact_phone %>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
