<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header(:details, 3) %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <p><%= t '.description_text' %></p>
    <p><%= t '.text_area_description_text' %></p>

    <%= step_form @form_object do |f| %>
      <%= f.text_area :grounds_for_appeal, size: '40x4', class: 'form-control-3-4' %>

      <% if @form_object.grounds_for_appeal_file_name.blank? %>
        <%= f.label :grounds_for_appeal_document %>
        <%= f.file_field :grounds_for_appeal_document %>
      <% else %>
        <p><%= t('.previous_document', file_name: @form_object.grounds_for_appeal_file_name) %></p>
        <%= f.hidden_field :grounds_for_appeal_file_name %>
      <% end %>

      <p><%= t '.footer_description_text' %></p>

      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
