<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <div id="document_upload_main_container" class="uploaded_doc_<%= uploaded_document?(@form_object.document_key) %>">
      <%= step_form @form_object, html: {class: 'ga-fileUpload'}, data: {ga_category: 'grounds', ga_label: 'grounds for appeal'} do |f| %>
        <%= f.govuk_text_area :grounds_for_appeal, rows: 15, hint: { text: t('.lead_text_html') },
            label: { text: translate_with_appeal_or_application('.heading'), size: 'l', tag: 'h1' }
        %>

        <%= document_upload_field(f, @form_object.document_key, label_text: t('.attach_document_html')) %>

        <%= render partial: 'steps/shared/continue_or_save', locals: {f: f} %>
      <% end %>

      <%= display_current_document(@form_object.document_key) %>
    </div>
  </div>
</div>
