<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%= translate_with_appeal_or_application '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <div id="gfa_main_container" class="uploaded_doc_<%= uploaded_document?(:grounds_for_appeal) %>">
      <%= step_form @form_object do |f| %>
        <%= f.text_area :grounds_for_appeal, size: '40x4', class: 'form-control form-control-3-4 form-control-large' %>

        <%= document_upload_field(f, :grounds_for_appeal, label_text: t('.attach_document_html')) %>

        <%= f.submit class: 'button gfa_continue' %>
      <% end %>

      <%= display_current_document(:grounds_for_appeal) %>
    </div>
  </div>
</div>
