<div class="grid-row">
  <div class="column-two-thirds">
    <p class="step-info">
      <%= link_to t('generic.back_link'), edit_steps_cost_dispute_type_path, class: 'link-back' %>
      <%=t 'steps.cost.step_header', step: 4 %>
    </p>
    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :penalty_amount,
        choices: Steps::Cost::PenaltyAmountForm.choices %>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
