<% title t('.page_title') %>

<div id="glimr-generation">
  <h1 class="heading-large">Auto generation of bulk records in GLiMR</h1>
  <% if flash[:notice] == "success" %>
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Started creating records
    </h1>
    <p>Each record takes 20 seconds to create at a minimum. You will receive an email on completion.</p>
  </div>
  <% end %>

  <%= form_tag admin_glimr_generation_index_path do %>
    <div class="govuk-form-group
      <% if @errors && @errors[:number_of_records] %>govuk-form-group--error<% end %>"
    >
      <label class="govuk-label" for="number-of-records">
        No. of records to generate
      </label>
      <% if @errors && @errors[:number_of_records] %>
        <p id="number-of-records-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Not a valid number
        </p>
      <% end %>
      <input required class="govuk-input govuk-input--width-5" id="number-of-records" name="number-of-records" type="text" value="<%= params['number-of-records'] %>">
    </div>

    <label class="govuk-label" for="onlineMappingCode">
      Online mapping code
    </label>
    <%= select_tag "onlineMappingCode", options_for_select(MappingCode.values, params[:onlineMappingCode]), include_blank: true, class: "govuk-select", required: true %>

    <label class="govuk-label space-above" for="contactFirstName">
      Appellant first name
    </label>
    <input required class="govuk-input govuk-input--width-20" id="contactFirstName" name="contactFirstName" type="text" value="<%= params[:contactFirstName] %>">
    <br>

    <label class="govuk-label space-above" for="contactLastName">
      Appellant last name
    </label>
    <input required class="govuk-input govuk-input--width-20" id="contactLastName" name="contactLastName" type="text" value="<%= params[:contactLastName] %>">
    <br>

    <label class="govuk-label space-above" for="contactPreference">
      Appellant contact preferences
    </label>
    <input required class="govuk-input govuk-input--width-20" id="contactPreference" name="contactPreference" type="text" value="<%= params[:contactPreference] %>">
    <br>

    <label class="govuk-label big-space-above" for="email">
      Address to send "Job Completed" email to
    </label>
    <input required class="govuk-input govuk-input--width-20" id="email" name="email" type="email" value="<%= params[:email] %>">
    <br>
    <% if ENV["GLIMR_API_URL"].include? '.dsd.io/Live_API' %>
      <p>Using LIVE endpoint</p>
    <% end %>
    <br>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Submit
    </button>
  <% end %>
</div>
