<h2 class="heading-medium"><%= t('.header') %></h2>
<%= t('.intro_html') %>

<table class="expandable-demo">
  <caption><%= t('.table_caption') %></caption>

  <thead>
    <tr>
      <th scope="col"><%= t('.columns.appeal_type') %></th>
      <th scope="col"><%= t('.columns.initial_fee') %></th>
      <th scope="col"><%= t('.columns.further_fee') %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <%= t('.penalties.20_html') %>
    </tr>
    <tr>
      <%= t('.penalties.50_html') %>
    </tr>
    <tr>
      <%= t('.penalties.200_html') %>
    </tr>
    <tr>
      <%= t('.penalties.500_html') %>
    </tr>
    <tr>
      <%= t('.penalties.1000_html') %>
    </tr>
  </tbody>
</table>

<h2 class="heading-medium"><%= t('.successful_header') %></h2>
<p><%= t('.successful_text') %></p>
