<div class="govuk-box-highlight">
  <h2 class="bold-medium">
    <%=t '.fee_label' %>
  </h2>
  <p>
    <strong class="heading-large"><%= number_to_currency(@lodgement_fee / 100.0) %></strong>
  </p>
</div>

<table>
  <thead>
    <tr>
      <th scope="col"><%=t '.check_your_answers' %></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @change_answers.rows.each do |row| %>
      <tr>
        <td><%=t row.question %></td>
        <td><strong><%=t row.answer %></strong></td>
        <td><%= link_to t('.change'), row.change_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to t('.continue'), task_list_path, class: 'button button-start', role: 'button' %>
</p>

<p>
  <%= link_to t('.start_again'), session_path, method: :delete, class: 'link-back' %>
</p>
