<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= step_form @form_object, html:{ class: 'ga-radioButtonGroup'  } do |f| %>
      <%= f.govuk_radio_buttons_fieldset :eu_exit, hint: { text: t('.lead_text') },
                                         legend: { text: t('.heading'), size: 'l', tag: 'h1' } do %>
        <%= f.govuk_radio_button :eu_exit, true, label: { text: t('helpers.label.steps_details_eu_exit_form.eu_exit_options.true') } %>
        <%= f.govuk_radio_button :eu_exit, false, label: { text: t('helpers.label.steps_details_eu_exit_form.eu_exit_options.false') } %>
      <% end %>

      <%= render partial: 'steps/shared/continue_or_save', locals: {f: f} %>
    <% end %>
  </div>
</div>

