<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_fieldset legend: { text: t('.heading'), size: 'l' } do %>
        <% @form_object.name_fields.each do |name_field| %>
          <%= f.govuk_text_field name_field, width: 'one-half' %>
        <% end %>

        <%= address_lookup(record: @form_object, entity: :taxpayer) do %>
            <%= f.govuk_text_area :taxpayer_contact_address, class: 'govuk-textarea address' %>
            <%= f.govuk_text_field :taxpayer_contact_city, width: 'one-half', class: 'govuk-input govuk-!-width-one-half city' %>
            <%= f.govuk_text_field :taxpayer_contact_postcode, width: 'one-half', class: 'govuk-input govuk-!-width-one-half postcode' %>
            <%= f.govuk_text_field :taxpayer_contact_country, width: 'one-half', class: 'govuk-input govuk-!-width-one-half country' %>
        <% end %>
        <% if @form_object.show_fao? %>
          <%= f.govuk_text_field :taxpayer_organisation_fao, width: 'one-half' %>
        <% end %>
        <%= f.govuk_text_field :taxpayer_contact_email, width: 'one-half' %>
        <%= f.govuk_text_field :taxpayer_contact_phone, width: 'one-half' %>
        <% if @form_object.show_registration_number? %>
          <%= f.govuk_text_field :taxpayer_organisation_registration_number, width: 'one-half' %>
        <% end %>
        <%= render partial: 'steps/shared/continue_or_save', locals: {f: f} %>
      <% end %>
    <% end %>
  </div>
</div>
