<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <%= stylesheet_link_tag wicked_pdf_asset_base64('local/case_details_pdf') -%>
</head>

<body id="case-details-pdf">
<%= render partial: 'steps/closure/check_answers/pdf/header', locals: { tribunal_case: tribunal_case } %>

<h3><%= t '.taxpayer_details_heading' %></h3>

<hr/>
<table>
  <tbody>
  <tr>
    <td class="section"><%= pdf_t '.questions.appellant_details' %></td>
    <td class="content">
      <div><%= tribunal_case.taxpayer.name %></div>
      <div>
        <%= simple_format(tribunal_case.taxpayer.address, class: 'simple-format') %>
      </div>
      <div>
        <%= pdf_t '.questions.appellant_phone' %>
        <span><%= tribunal_case.taxpayer.phone %></span>
      </div>
      <div>
        <%= pdf_t '.questions.appellant_email' %>
        <span><%= tribunal_case.taxpayer.email %></span>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<%= render partial: 'steps/shared/representative_details', locals: { tribunal_case: tribunal_case } %>

<hr/>
<table>
  <tbody>
  <tr>
    <td class="section"><%= pdf_t '.questions.documents_submitted' %></td>
    <td class="content">
      <% if tribunal_case.having_problems_uploading_documents? %>
        <%= simple_format(tribunal_case.having_problems_uploading_details, class: 'simple-format') %>
      <% else %>
        <ul class="documents">
          <% tribunal_case.documents.list(:supporting_documents).each do |document| %>
            <li><%= document.title %></li>
          <% end %>
        </ul>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>

<div class="newpage"></div>

<%= render partial: 'steps/closure/check_answers/pdf/header', locals: { tribunal_case: tribunal_case } %>

<h3><%= pdf_t '.application_type_heading' %></h3>

<hr/>
<table>
  <tbody>
    <tr>
      <td class="section"><%= pdf_t '.questions.case_type' %></td>
      <td class="content"><%= pdf_t ".answers.case_type.#{tribunal_case.closure_case_type}" %></td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>


<h3><%= pdf_t '.enquiry_details_heading' %></h3>

<hr/>
<table>
  <tbody>
  <% tribunal_case.enquiry_answers.rows.each do |row| %>
    <tr>
      <td class="section"><%= pdf_t row.question %></td>
      <td class="content"><%= row.answer %></td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
  <% end %>
  </tbody>
</table>

</body>
</html>
