<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <%= stylesheet_link_tag wicked_pdf_asset_base64('local/case_details_pdf') -%>
</head>

<body id="case-details-pdf">
<%= render partial: 'steps/closure/check_answers/pdf/header', locals: { tribunal_case: tribunal_case } %>

<%= render partial: 'steps/shared/check_answers/taxpayer_details', locals: { tribunal_case: tribunal_case } %>

<%= render partial: 'steps/shared/check_answers/representative_details', locals: { tribunal_case: tribunal_case } %>

<%= render partial: 'steps/shared/check_answers/documents_submitted', locals: { tribunal_case: tribunal_case } %>

<div class="newpage"></div>

<%= render partial: 'steps/closure/check_answers/pdf/header', locals: { tribunal_case: tribunal_case } %>

<h3><%= pdf_t '.application_type_heading' %></h3>

<hr/>
<table>
  <tbody>
    <tr>
      <td class="section"><%= pdf_t '.questions.case_type' %></td>
      <td class="content"><%= pdf_t ".answers.case_type.#{tribunal_case.closure_case_type}" %></td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>


<h3><%= pdf_t '.enquiry_details_heading' %></h3>

<hr/>
<table>
  <tbody>
  <% tribunal_case.enquiry_answers.rows.each do |row| %>
    <tr>
      <td class="section"><%= pdf_t row.question %></td>
      <td class="content"><%= row.answer %></td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
  <% end %>
  </tbody>
</table>

</body>
</html>
