<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

	<p class="lede"><%=t '.post_text_html', download_pdf_url: steps_details_check_answers_path(format: :pdf) %></p>

	<p class="lede"><%=t '.post_address_html' %></p>

    <%= render partial: 'steps/shared/finish_button', locals: {name: t('shared.finish')} %>
  </div>
</div>
