<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

	<p class="lede"><%=t '.post_text_html' %></p>
    
    <h2 class="heading-medium">
      <%= link_to t('.save_or_print_pdf'), steps_details_check_answers_path(format: :pdf), target: '_blank' %>
    </h2>
    
	<p class="lede"><%=t '.post_address_html' %></p>

    <%= render partial: 'steps/shared/finish_button', locals: {name: t('shared.finish')} %>
  </div>
</div>
