<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t '.heading' %></h1>

    <p class="heading-medium"><%= t '.lead_text_html', tax_tribunal_phone: Rails.application.config.tax_tribunal_phone %></p>

    <%= render partial: 'shared/confirmation_case_reference', locals: {tribunal_case: @tribunal_case} %>

    <h2 class="heading-medium">
      <%= link_to t('.save_or_print_pdf'), steps_details_check_answers_path(format: :pdf), target: '_blank' %>
    </h2>

    <%= render partial: 'steps/shared/finish_button', locals: {name: t('.start_again')} %>
  </div>
</div>
