<h2 class="heading-large"><%=t '.heading' %></h2>

<%= error_summary(resource) %>

<p><%= link_to t('.create_account'), new_user_registration_path %></p>

<%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password, autocomplete: "off" %>

  <%= f.submit t('helpers.submit.sign_in'), class: 'button' %>
<% end %>
