<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%=t '.heading' %></h1>
    <p class="lede">
      <%=t '.lead_text' %>
    </p>

    <p><%=t '.appeal_text' %></p>

    <div class="form-group util_mt-large">
      <a href="https://www.gov.uk/social-security-child-support-tribunal" class="button"><%= t '.appeal_button' %></a>
    </div>

    <%= render partial: 'steps/shared/kickout_survey' %>
  </div>
</div>
