<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header(:appeal, 5) %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :penalty_level,
        choices: Steps::Appeal::PenaltyAmountForm.choices %>

      <div class="panel toggleable" id="penalty_amount_detail" aria-hidden="true" data-show-elements="form input:radio:not(:first)" data-hide-elements="form input:radio:first">
        <%= f.text_field :penalty_amount, class: 'form-control' %>
      </div>

      <%= f.submit class: 'button' %>
    <% end %>

  </div>
</div>
