<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header(:details, 5) %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <%= form_tag documents_url, multipart: true, class: 'hide-when-js-is-loaded' do %>
        <%= file_field_tag :document %>
        <%= submit_tag 'Upload', class: 'button' %>
    <% end %>

    <div id="doc_upload_zone-sticky-wrapper" class="sticky-wrapper" style="height: 240px;">
      <div class="dropzone dz-clickable js-stick-at-top-when-scrolling js-hidden show-when-js-is-loaded" id="dz_doc_upload" style="width: 630px;">
        <div class="dz-default dz-message grid-row">
          <div class="column-one-third arrow-icon">
            <p></p>
          </div>
          <div class="column-one-half">
            <p class="dz-message-copy">
              <%= t 'shared.file_upload.dropzone_message_html' %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="uploaded-files-wrapper">
      <h2 class="heading-medium"><%= t '.uploaded_files_header' %></h2>

      <ol class="list uploaded-files">
        <% if @document_list&.any? %>
            <% @document_list.each do |doc| %>
                <li class="file hide-when-js-is-loaded">
                  <%= doc.name %>
                  <%= button_to 'Remove', document_path(doc), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
                </li>

                <li class="file js-hidden show-when-js-is-loaded">
                  <%= doc.name %>
                  <%= link_to 'Remove', '#', 'data-delete-name': doc.encoded_name %>
                </li>
            <% end %>
        <% else %>
            <li class="no-files"><%= t '.no_uploaded_files' %></li>
        <% end %>
      </ol>
    </div>

    <%= step_form @form_object do |f| %>
        <div class="form-group util_mt-large">
          <%= f.label :original_notice_provided, class: 'block-label selection-button-checkbox' do %>
              <%= f.check_box :original_notice_provided %>
              <%= t '.original_notice_provided_html' %>
          <% end %>

          <%= f.label :review_conclusion_provided, class: 'block-label selection-button-checkbox' do %>
              <%= f.check_box :review_conclusion_provided %>
              <%= t '.review_conclusion_provided_html' %>
          <% end %>
        </div>

        <div class="form-group util_mt-large">
          <%= f.label :having_problems_uploading_documents, class: 'block-label selection-button-checkbox' do %>
              <%= f.check_box :having_problems_uploading_documents %>
              <%= t '.having_problems_uploading_documents_html' %>
          <% end %>
        </div>

        <div class="form-group util_mt-large">
          <%= f.submit class: 'button' %>
        </div>
    <% end %>
  </div>

  <div class="column-one-third">
    <p class="lede">&nbsp;</p>
    <p class="lede">&nbsp;</p>
    <h2 class="heading-small"><%= t('.need_help') %></h2>
    <nav role="navigation" class="font-xsmall">
      <p><a href="#"><%= t('.contact_us') %></a></p>
    </nav>
  </div>
</div>
