<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <p><%=t 'shared.file_upload.technical_info' %></p>

    <div id="supplied_letters_placeholder"></div>

    <%= form_tag documents_url(document_key: :supporting_documents), multipart: true, class: 'no-js-only' do %>
      <%= file_field_tag :document %>
      <%= submit_tag 'Upload', class: 'button' %>
    <% end %>

    <%= render partial: 'steps/shared/dropzone', locals: { document_list: @document_list } %>

    <%= step_form @form_object, html: { class: 'cf' } do |f| %>
      <div class="form-group supplied_letters_checkboxes">
        <%= f.label :original_notice_provided, class: 'block-label selection-button-checkbox' do %>
          <%= f.check_box :original_notice_provided, form: 'new_steps_details_documents_checklist_form' %>
          <%= t '.original_notice_provided_html' %>
        <% end %>

        <%= f.label :review_conclusion_provided, class: 'block-label selection-button-checkbox' do %>
          <%= f.check_box :review_conclusion_provided, form: 'new_steps_details_documents_checklist_form' %>
          <%= t '.review_conclusion_provided_html' %>
        <% end %>
      </div>

      <div class="form-group util_mt-large">
        <%= f.label :having_problems_uploading_documents, class: 'block-label selection-button-checkbox', 'data-target': 'unable_to_upload_panel' do %>
          <%= f.check_box :having_problems_uploading_documents, class: 'ga-checkbox', 'data-ga-label': 'having problems' %>
          <%= t 'shared.file_upload.having_problems' %>
        <% end %>

        <div id="unable_to_upload_panel" class="panel js-hidden" aria-hidden="true">
          <%= t 'shared.file_upload.explanation_html', contact_url: contact_page_path %>
          <%=f.text_area :having_problems_uploading_details, size: '40x4', class: 'form-control form-control-3-4' %>
        </div>
      </div>

      <div class="form-group util_mt-large">
        <%= f.submit class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
