<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= error_summary(resource) %>

    <h2 class="govuk-heading-l"><%=t '.heading' %></h2>

    <p class="govuk-body"><%= t '.lead_text' %></p>

    <p class="govuk-body"><%= t '.account_text' %></p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.email_field :email, autofocus: true %>

      <p class="govuk-body"><%= link_to t('.sign_in'), user_session_path, class: 'govuk-link' %></p>

      <%= f.submit t('helpers.submit.reset_password'), class: 'govuk-button' %>
    <% end %>
  </div>
</div>
