<div class="grid-row">
  <div class="column-two-thirds">
    <h2 class="heading-large"><%=t '.heading' %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.email_field :email, autofocus: true %>

      <p><%= link_to t('.sign_in'), user_session_path %></p>

      <%= f.submit t('helpers.submit.reset_password'), class: 'button' %>
    <% end %>
  </div>
</div>
