<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header(:details, 0) %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :representative_type,
        choices: Steps::Details::RepresentativeTypeForm.choices %>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
