<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large"><%= translate_with_appeal_or_application '.heading' %></h1>

    <%= step_form @form_object, html:{ class: 'ga-radioButtonGroup'  } do |f| %>
      <%= f.radio_button_fieldset :user_type,
        choices: Steps::Details::UserTypeForm.choices %>
      <%= f.submit class: 'button' %>
    <% end %>

    <%= render partial: 'steps/shared/representative_explanation' %>
  </div>
</div>
