<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header(:details, 0) %>

    <h1 class="heading-large"><%=t '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.radio_button_fieldset :user_type,
        choices: Steps::Details::UserTypeForm.choices %>
      <%= f.submit class: 'button' %>
    <% end %>

    <details role="group">
      <summary role="button" aria-controls="details-content" aria-expanded="false"><%=t '.representative_heading' %></summary>
      <div class="panel" id="details-content" aria-hidden="true">
        <%=t '.representative_content_html' %>
      </div>
    </details>
  </div>
</div>
