<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%=t '.heading' %></h1>

    <p class="govuk-body-l"><%=t '.lead_text' %></p>
    <p class="govuk-body-l"><%=t '.lead_text_2' %></p>

    <%= step_form @form_object, html:{ class: 'ga-radioButtonGroup'  } do |f| %>
      <div class="govuk-form-group">
        <%= f.govuk_radio_button :save_or_return, :save_for_later, label: { text: t('helpers.label.save_or_return_save_form.save_or_return_options.save_for_later') } %>
        <%= f.govuk_radio_button :save_or_return, :return_to_saved_appeal, label: { text: t('helpers.label.save_or_return_save_form.save_or_return_options.return_to_saved_appeal') } %>
      </div>

      <%= f.govuk_submit t('helpers.submit.update') %>
    <% end %>

  </div>
</div>
