<%= step_header %>

<h1 class="heading-large"><%= t '.heading' %></h1>

<table class="check-your-answers">
  <tbody>

  <tr>
    <th colspan="3"><h2 class="heading-medium"><%= t '.application_type_heading' %></h2></th>
  </tr>
  <tr>
    <td><%= t '.questions.case_type' %></td>
    <td><%= t ".answers.case_type.#{@tribunal_case.closure_case_type}" %></td>
    <td class="change-answer">
      <%= link_to t('.change'), edit_steps_closure_case_type_path %>
    </td>
  </tr>

  <tr>
    <th colspan="3"><h2 class="heading-medium"><%= t '.enquiry_details_heading' %></h2></th>
  </tr>
  <% @tribunal_case.enquiry_answers.rows.each do |row| %>
    <tr>
      <td><%= t row.question %></td>
      <td><%= row.i18n_value ? t(row.answer) : row.answer %></td>
      <td class="change-answer">
        <%= row.change_link t('.change') %>
      </td>
    </tr>
  <% end %>

  <%= render partial: 'steps/shared/check_answers/taxpayer_details', locals: { tribunal_case: @tribunal_case } %>

  <%= render partial: 'steps/shared/check_answers/representative_details', locals: { tribunal_case: @tribunal_case } %>

  <%= render partial: 'steps/shared/check_answers/documents_submitted', locals: {
      tribunal_case: @tribunal_case,
      change_link: edit_steps_closure_support_documents_path
  } %>

  </tbody>
</table>

<%= render partial: 'steps/shared/check_answers/footer', locals: { submit_link: closure_cases_path } %>
