<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title><%=t 'check_answers.pdf.header.closure_heading' %> <%=t 'shared.language' %></title>
  </head>

  <body id="case-details-pdf">
    <%= render partial: 'application/check_answers_css' %>
    <%= render partial: 'application/check_answers_header', locals: {heading_key: 'closure_heading'} %>
    <%= render @presenter.sections %>
  </body>
</html>
