<div>
  <dt class="question">
    <%= translate_with_appeal_or_application "check_answers.#{contact_details_row.question}.question" %>
  </dt>
  <dd class="answer">
    <%= simple_format(contact_details_row.contact_address) %>

    <% if contact_details_row.extra_details? %>
      <p class="govuk-body">
        <% if contact_details_row.phone? %>
          <%=t 'check_answers.phone' %>: <%= contact_details_row.phone %><br>
        <% end %>
        <% if contact_details_row.email? %>
          <%=t 'check_answers.email' %>: <%= contact_details_row.email %><br>
        <% end %>
        <% if contact_details_row.organisation_registration_number? %>
          <%=t 'check_answers.organisation_registration_number' %>: <%= contact_details_row.organisation_registration_number %>
        <% end %>
      </p>
    <% end %>
  </dd>
  <dd class="change">
    <% if contact_details_row.show_change_link? %>
      <%= link_to contact_details_row.change_path, class: 'govuk-link' do %>
        <%= t('check_answers.change') %> <span class="govuk-visually-hidden"><%=t "check_answers.#{contact_details_row.question}.accessible_change_text" %></span>
      <% end %>
    <% end %>
  </dd>
</div>
