  <% content_for(:footer_top) do %>
    <details class="developer_tools">
      <summary><span class="summary">Developer Tools</span></summary>
      <div class="panel panel-border-narrow">
        <% if @form_object&.tribunal_case %>
          <h4 class="govuk-heading-s">Current Case ID</h4>
          <p class="govuk-body">
            <%= @form_object.tribunal_case.id %>
          </p>
        <% end %>
        <h4>Destroy session</h4>
        <p class="details">Deletes all data entered in this session and lets you start a case again from scratch.</p>
        <p class="govuk-body"><%= link_to 'Destroy session', session_path, method: :delete, class: 'button button-destroy_session', data: { confirm: 'Are you sure?' } %></p>
        <h4>Quick case set up</h4>
        <p class="details">Creates a case (or if one is in the session already, updates it) and prefills it so you can go straight to the next task.</p>
        <p class="govuk-body">
          <%= link_to 'Set up appeal', create_and_fill_appeal_session_path, method: :post, class: 'button button-create_session' %>
          <%= link_to 'Set up appeal & lateness', create_and_fill_appeal_and_lateness_session_path, method: :post, class: 'button button-create_session' %>
          <%= link_to 'Set up everything', create_and_fill_appeal_and_lateness_and_appellant_session_path, method: :post, class: 'button button-create_session' %>
        </p>
      </div>
    </details>
  <% end %>
