<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header(:lateness, 2) %>

    <h1 class="heading-large">
      <%= @form_object.lateness_unknown? ? translate_with_appeal_or_application('.heading_unsure') : translate_with_appeal_or_application('.heading') %>
    </h1>

    <p class="lede">
      <%= @form_object.lateness_unknown? ? translate_with_appeal_or_application('.lead_text_unsure') : translate_with_appeal_or_application('.lead_text') %>
    </p>

    <%= step_form @form_object do |f| %>
      <%= f.text_area :lateness_reason, size: '40x4', class: 'form-control-3-4' %>
      <%= f.submit class: 'button' %>
    <% end %>

    <details>
      <summary>
        <span class="summary">
          <%= translate_with_appeal_or_application '.details_title' %>
        </span>
      </summary>
      <div class="panel panel-border-narrow">
        <p>
          <%= translate_with_appeal_or_application '.details_content' %>
        </p>
      </div>
    </details>
  </div>
</div>
