<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h2 class="heading-large"><%=t '.heading' %></h2>
    <%#
      Using `as: 'user_signin'` so we can customise the i18n labels (and password hint),
      to be different in this form. Because of this, we also need to specify the `name`,
      otherwise it would become `user_signin[email] and user_signin[password]`
    %>
    <%= form_for(resource, as: 'user_signin', url: user_session_path) do |f| %>
      <%= f.email_field :email, name: 'user[email]', autofocus: true %>
      <%= f.password_field :password, name: 'user[password]', class: 'js-toggleable-password', autocomplete: 'off' %>

      <p><%= link_to t('.forgot_password'), new_user_password_path %></p>

      <%= f.submit t('helpers.submit.sign_in'), class: 'button' %>
    <% end %>
  </div>
</div>
