<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h2 class="heading-large"><%=t '.heading' %></h2>

    <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
      <%= f.email_field :email, autofocus: true %>
      <%= f.password_field :password, class: 'js-toggleable-password', autocomplete: 'off' %>

      <p><%= link_to t('.forgot_password'), new_user_password_path %></p>

      <%= f.submit t('helpers.submit.sign_in'), class: 'button' %>
    <% end %>
  </div>
</div>
