<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>

    <h1 class="heading-large">
      <%=t @form_object.heading_translation_key %>
    </h1>

    <%= step_form @form_object, html:{ class: 'ga-radioButtonGroup'  } do |f| %>
      <%= f.radio_button_fieldset :challenged_decision,
        choices: Steps::Challenge::DecisionForm.choices,
        legend_options: {class: 'visuallyhidden'} %>

      <%= render partial: 'steps/shared/continue_or_save', locals: {f: f} %>
    <% end %>

    <details>
      <summary><%=t '.help_panel.heading' %></summary>
      <div class="panel">
        <%=t '.help_panel.content_html' %>
      </div>
    </details>
  </div>
</div>
