<% content_for(:homepage_url) { "/" } %>
<% content_for(:page_title) { "GOV.UK - Appeal to the tax tribunal" } %>

<% content_for(:head) do %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
<% end %>

<% content_for(:inside_header) do %>
  <div class="header-proposition">
    <div class="content">
      <a href="/" id="proposition-name">Appeal to the tax tribunal</a>
    </div>
  </div>
<% end %>

<% content_for(:content) do %>
  <main id="content" role="main">
    <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a trial service &ndash; your feedback will help us to improve it.</span>
      </p>
    </div>

    <% if flash[:alert] %>
      <div class="error-summary">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </main>
<% end %>

<% content_for(:body_end) do %>
  <%= javascript_include_tag 'application' %>
<% end %>

<% content_for(:footer_support_links) do %>
    <%= render partial: 'layouts/footer_links' %>
<% end %>

<% if Rails.env.development? %>
  <%= render partial: 'developer_tools' %>
<% end %>

<%= render template: "layouts/govuk_template" %>
