<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= error_summary(resource) %>

    <h2 class="govuk-heading-l"><%=t '.heading' %></h2>

    <%= t('users.shared.password_guidelines_html')  %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
      <%= f.password_field :current_password, class: 'js-toggleable-password', autofocus: true, autocomplete: "off" %>
      <%= f.password_field :password, class: 'js-toggleable-password', autocomplete: "off" %>

      <%= f.submit t('helpers.submit.change_password'), class: 'button' %>
    <% end %>
  </div>
</div>
