<div class="grid-row">
  <div class="column-two-thirds">
    <%= error_summary(resource) %>

    <h2 class="heading-large"><%=t '.heading' %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
      <%= f.password_field :current_password, class: 'js-toggleable-password', autofocus: true, autocomplete: "off" %>
      <%= f.password_field :password, class: 'js-toggleable-password', autocomplete: "off" %>

      <%= f.submit t('helpers.submit.change_password'), class: 'button' %>
    <% end %>
  </div>
</div>
