<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(resource) %>

    <h2 class="govuk-heading-l"><%=t '.heading' %></h2>

    <%= t('users.shared.password_guidelines_html')  %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
      <%= f.govuk_password_field :current_password, width: 'two-thirds', autocomplete: 'off', autofocus: true, spellcheck: 'false' %>
      <%= f.govuk_password_field :password, width: 'two-thirds', autocomplete: 'off', spellcheck: 'false' %>

      <%= f.submit t('helpers.submit.change_password'), class: 'govuk-button' %>
    <% end %>
  </div>
</div>
