<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= error_summary(resource) %>

    <h2 class="heading-large"><%= translate_with_appeal_or_application '.heading' %></h2>

    <%= t '.account_warning_html' %>
    <%= t 'users.shared.password_guidelines_html' %>

    <p><%= link_to t('.existing_account'), user_session_path %></p>

    <div class="verify-password-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'ga-submitForm', data: {ga_category: 'save and return', ga_label: 'signup'}}) do |f| %>
        <%= f.email_field :email, autofocus: true %>
        <%= f.password_field :password, class: 'js-toggleable-password', autocomplete: "off" %>

        <%= f.submit t('helpers.submit.create_account'), class: 'button' %>
      <% end %>
    </div>
  </div>
</div>
