<h2 class="heading-xlarge"><%= translate_with_appeal_or_application '.heading' %></h2>

<p class="notice util_mt-large">
  <i class="icon icon-important">
    <span class="visuallyhidden">Warning</span>
  </i>
  <strong class="font-small">You must create an account before we can save your details.</strong>
</p>
<p><%= link_to t('.existing_account'), users_login_path %></p>

<%= form_for(resource, as: resource_name, url: users_registration_path) do |f| %>
  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password, class: 'js-toggleable-password', autocomplete: "off" %>

  <%= f.submit t('helpers.submit.create_account'), class: 'button' %>
<% end %>
